[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]

[dev-packages]
PyYAML = "*"
black = "==21.10b0"
coverage = "*"
flake8 = "*"
isort = "*"
pipfile = "*"
pytest = "*"
pytest-flake8 = "*"
pytest-isort = "*"
python-dotenv = "*"
sh = "*"
